body{
    padding: 0;
    padding-top: 20%;
    padding-left: 18%;
    padding-right: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../../assets/images/tiny-squares.png");
    background-repeat: repeat;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    background: #E1E6EA;
    color: #656671;
    border-radius: 15px;
    padding: 7.5px 0 0 0;
    cursor: pointer;
  } 

  .align{
    text-align: center;
}

#timer{
    float: right;
    font-size: .7em;
}